*,
*::before
*::after {
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  color: #434455;
  font-family: "Roboto", sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;}
.container{
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}
  .header {
 background-color: #ffffff;
border-bottom: 1px solid #E7E9FC;
}
.header-container  {
  display: flex;
 justify-content: space-between;
 align-items: center;}

.heder-nav {
display: flex;
  align-items: center;
  margin: 0;
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
margin-right:76px;}

.header-dark {
  color: #2e2f42;
}

.header-list {
    display: flex;
      gap: 40px;}

.item-list {
}

.link {
  color: #2e2f42;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
    display: block;
}
.link:hover,
.link:focus {
  color: #404bbf;
}

.heder-contat {
  font-style: normal;
}

.list-contact {display: flex;
  gap: 40px;
}

.item-contact {
}

.link-cont:hover {
  color: #404bbf;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.link-contact {
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.link-contact:hover,
.link-contact:focus {
  color: #404bbf;
}
.main-section {
  background: #2e2f42;
    padding: 188px 0;
}

.main-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 48px;
  
}

.main-button {
  color: #fff;
  background: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
    height: 56px;
    border-radius: 4px;
    border: 0;
    margin-right: auto;
    margin-left: auto;
    display: block;
cursor: pointer;}
.main-button:hover, .main-button:focus {
  background: #404bbf;
}

.main-plan {padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-subtitle {
      margin-bottom: 8px;
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;

}

.main-list {display: flex;
  gap: 24px;


}

.main-item {width: calc((100% - 72px)/4);
}

.main-h {
    margin-bottom:  8px;
  color:  #2E2F42;

font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
  
  
}
.main-p {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-photo {background-color: #f4f4fd;
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
   padding: 120px 0;
 
}
.main-subtitle-photo {
    text-align: center;
    color: #2e2f42;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
     margin-bottom: 72px;
}

.section-photo-list {
    display: flex;
      gap: 24px;
}

.photo-item { 
  width: calc((100% - 72px)/4);
background-color: #fff;
    border-radius: 0px 0px 4px 4px;}
    

.photo-box {
  text-align: center;
  padding: 32px 0;
  gap: 32px;
  
}

.photo-h {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
 }

.photo-p {
  color: #434455;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* section-images 4 */
.section-images {background-color: #FFF;
  padding: 120px 0 120px 0; }
.main-subtitle-images {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  line-height: 1.11;
  margin-bottom: 72px;
}

.ul-list {
  background-color: #ffffff;
  display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.images-item {
  width: calc((100% - 48px)/3);
}

.images-box {padding: 32px 16px;
  border: 1px solid #E7E9FC;
  border-top: none;
  
}

.images-h {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
margin-bottom: 8px;}
.images-p {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer {
  background: #2e2f42;
padding: 100px 0;}

.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
    margin-bottom: 16px;}

.logo-white {
  color: #f4f4fd;
}

.footer-p {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;}
